.panel{
    width: 25%;
    background-color: #c9d9daa9;
    color: rgb(57, 53, 53);
    border-radius: 30px;
    padding: 2em;
    margin-left: 35%;
    margin-top: 1%;

}
.panel:hover{
    background-color: #fff;
}
#container{
    display: flex;
    padding: 1.5%;
    border-radius: 15px;
    perspective: 1px;
}
body{
    /* background-position: 0px 0px;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%; */
    background-size: cover;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');

}
.cityTemp{
    margin-top: -5%;
}
.cityInfo{
    margin: -5px 0px 0px 5px;
    width: 95%;
    display: block;
    text-align: center;
}
#showGraphBtn{
    margin: -5px 0px 0px 40%;
    /* width: 95%; */
    display: block;
    text-align: center;
    left: 50%;
}
.city_name{
    padding: 5px;
    align-items: center;
    border: 1px;
    border-radius: 10px;
    background-color: #ecf1f3;
}

#citySearch{
    color: transparent;
    margin-left: 35px;
    margin-right: 5px;
    margin-top: 16px;
    width: 4ch;
    height: 4ch;
    border-radius: 20px;
    border-width: 0px;
}
#citySearch:hover{
    background-color: rgb(130, 219, 176);
}
.extra_daily_info{
    display: none;
    justify-content: space-between;
    margin-top: 7.5%;
}
.stat{
    /* margin-left: 5%;
    margin-top: 5%; */
    text-align: center;
} 
.stat:hover{
    font-weight:bold;
    text-decoration: double;
}

.cityFlag{
    margin: 0px 0px 0px 19px;
    width: 95%;
    display: -ms-inline-flexbox;
    text-align: center;
}

#temp{
    display: flex;
    justify-content: right;
    align-items: right;
    padding: 1%;
}
.weeks{
    width: 10%;
    height: 20%;
    display: inline-flex;
    list-style: none;
    margin: 0; 
    background: deepskyblue;
    }
    
.weeks div{
    display: flex;
    padding: 10%;
    padding: 1em;
    color: white;
}

#lineChart{
    width: 90%;
    height: 70%;
    display: none;
    margin-left: 5%;
}
#showGraphBtn{
    border-radius: 10%;
    border-width: 1.5px;
    display: none;
}